
.image-container{
		position:relative;
		width: auto;
	    height: auto;
	    min-width: 700px;
	    background-size: contain;
	    min-height: 700px;
	    background-repeat: no-repeat;
	    .text-container{
			position: absolute;
			font-size: 12px;
			left: 325px;
			top: 313px;
			text-transform: uppercase;
	    }
}
.whiteBag{
 	background-image: url(../img/front-white.jpg);
}
.blackBag{
	 background-image: url(../img/front-black.jpg);
}

svg{
  width:152px;
  path {
	  fill: transparent;
	}

	text {
	  fill: #000;
	  font-size: 48px;
	  letter-spacing: 1.2px;
	}
}

.color-select{
	.icon-radio{
		width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    transition-duration: .2s;
	    &:after{
	    	width: 30px;
	    	height: 30px;
	    	left: 10%;
    		top: 10%;
	    }
	}
	.red{
		.icon-radio{
			border: 2px solid red !important;
			&:after{
				background-color:red;	
			}	
		}

	}
	.blue{
		.icon-radio{
			border: 2px solid blue;
			&:after{
				background-color:blue ;
			}	
		}
	}
	.orange{
		.icon-radio{
			border: 2px solid orange;
			&:after{
				background-color:orange;	
			}	
		}
	}
	.black{
		.icon-radio{
			border: 2px solid black;
			&:after{
				background-color:black ;
			}	
		}
	}
	.pink{
		.icon-radio{
			border: 2px solid pink;
			&:after{
				background-color:pink ;
			}	
		}
	}
}
.ios {
	.list {
		.item-content{
			position: relative;
			
		}
	}

	.color-select .icon-radio:after{
		background-color:transparent;
	}
	label.item-radio .item-inner {
	    padding-left: 35px;
	}
	label.item-radio input[type=radio]~.icon-radio {
	    position: relative;
	    top: 6px;
	    margin-top: -11px;
	    left: 0;
	}
}
.ios .color-theme-black .red.item-radio input[type=radio]:checked~.icon-radio{
  background-image:none;
  background-color:red !important;
}
.ios .color-theme-black .black.item-radio input[type=radio]:checked~.icon-radio{
  background-image:none;
  background-color:black !important;
}
.ios .color-theme-black .orange.item-radio input[type=radio]:checked~.icon-radio{
  background-image:none;
  background-color:orange !important;
}
.ios .color-theme-black .blue.item-radio input[type=radio]:checked~.icon-radio{
  background-image:none;
  background-color:blue !important;
}
.ios .color-theme-black .pink.item-radio input[type=radio]:checked~.icon-radio{
  background-image:none;
  background-color:pink !important;
}
